<!DOCTYPE html>
<html>

  <body class='container'>
    <p>Who should be the next president?</p>
    <form action='cast' method='post'>
      <ul class='unstyled'>
        <% Choices.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='vote' value='<%= text %>' id='vote_<%= id %>' />
              <%= text.split.map(&:capitalize).join(' ') %>
            </label>
          </li>
        <% end %>
        <li>
          <label class='radio'>
            <input type='radio' name='vote' value='.new' id='.new'/>
            Other Candidate (Write-in)
            <input type='text' name='new_candid' id='newfield'/>
          </label>
        </li>
      </ul>
      <button type='submit' class='btn btn-primary'>Cast this vote!</button>
    </form>
  </body>
</html>
