<table class='table table-hover table-striped'>
  <% @candids.each do |candid| %>
    <tr>
      <th> <%= candid.name.split.map(&:capitalize).join(' ') %>
      <td> <%= candid.num_votes %>
    </tr>
  <% end %>
</table>
<p><a href='/'>Cast more votes!</a></p>
